body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #F5F5F5;
}

a {
  color: #00B7FF;
}
h1 {
  text-align: center;
}
input {
  margin-right: 50px;
}
table {
  margin-top: 30px;
}
table tr:nth-child(odd) {
  background: #D9EDF7;
}
table tr:nth-child(even) {
  background: #F2DEDE;
}
