doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width,initial-scale=1,user-scalable=no')
    link(rel='stylesheet', href='https://cdn.bootcss.com/weui/0.4.2/style/weui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdn.bootcss.com/jquery/3.1.0/jquery.js')
    block style
    block script
  body
    block content
