extends layout
block link
    link(rel='stylesheet', href='/stylesheets/style.css')
block content
    .activity
        span
            | 社群
            br
            | 交友
        span
            | 优惠
            br
            | 通知
        span
            | 福利
            br
            | 活动
    a(href='step2')
        button 申请加入

