doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title
    block link
  body
    .wrap
      .apply
        span 1.申请加入
        span 2.车主验证
        span 3.选择社群
        span 4.与群主约会
    block content

