extends layout
block link
    link(rel='stylesheet', href='stylesheets/step3.css')
block content
        p 选择地域社群
        ul
            a(href='/step4/qingdao')
                li
                    img(src='/images/hug.png', alt='')
                    | 青 岛
            a(href='/step4/changde')
                li
                    img(src='/images/hug.png', alt='')
                    | 常 德
            a(href='/step4/beijing')
                li
                    img(src='/images/hug.png', alt='')
                    | 北 京
            a(href='/step4/chengdu')
                li
                    img(src='/images/hug.png', alt='')
                    | 成 都
            a(href='/step4/guangzhou')
                li
                    img(src='/images/hug.png', alt='')
                    | 广 州
            a(href='/step4/shijiazhuang')
                li
                    img(src='/images/hug.png', alt='')
                    | 石家庄
            a(href='/step4/henan')
                li
                    img(src='/images/hug.png', alt='')
                    | 河 南

